BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 140
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
SortIncludes: Never
